/* Webfont: FairyTales */@font-face {
    font-family: 'FairyTales';
    src: url('Fairy Tales.eot'); /* IE9 Compat Modes */
    src: url('Fairy Tales.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Fairy Tales.woff') format('woff'), /* Modern Browsers */
         url('Fairy Tales.ttf') format('truetype'), /* Safari, Android, iOS */
         url('Fairy Tales.svg#FairyTales') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

